<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335785605903-j6qcob9v8pbonhnugrh2mb0m2cdo0h3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335785605903-j6qcob9v8pbonhnugrh2mb0m2cdo0h3l</string>
	<key>API_KEY</key>
	<string>AIzaSyA0As9hNCIVvtjSS8qLSSIgpYrxva_L9ME</string>
	<key>GCM_SENDER_ID</key>
	<string>335785605903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningCdss</string>
	<key>PROJECT_ID</key>
	<string>learning-cdss</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-cdss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335785605903:ios:670a8e902b38fbfc5cdc7a</string>
</dict>
</plist>